$primary: #2962FF;
$secondary: #455A64;
$danger: #D32F2F;
$default: #E0E0E0;
$dark: #3F3F3F;
$white: #FFFFFF;

.button{
    font-weight: 700;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    line-height: 1;
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &--default {
        background-color: $default;
        color: $white;
        border-color: $default;
    }
    &--primary{
        background-color: $primary;
        color: $white;
        border-color: $primary;
    }
    &--secondary {
        background-color: $secondary;
        color: $white;
        border-color: $secondary;
    }
    &--danger{
        background-color: $danger;
        color: $white;
        border-color: $danger;
    }

    &--sm{
        font-size: 12px;
        padding: 10px 16px;
    }
    &--md {
        font-size: 14px;
        padding: 12px 18px;
    }
    &--lg {
        font-size: 16px;
        padding: 14px 20px;
    }
}